*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
}

/* Desktop Nav */
.nav-container {
    background-color: rgba(0, 0, 0, 1);
    height: 44px;
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.nav-container nav{
    width: 1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}

nav .desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav .desktop-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 400ms;
}

nav .desktop-nav li a:hover {
    opacity: 1;
}

.link-logo {
    background: url('../images/rj-logo.svg');
    display: block;
    background-position: center;
    background-size: 27px;
    height: 44px;
    width: 15px;
    background-repeat: no-repeat;
}

.link-search {
    background: url('../images/search-icon.svg');
    display: block;
    background-position: center;
    background-size: 18px;
    height: 44px;
    width: 20px;
    background-repeat: no-repeat;
}

.link-github {
    background: url('../images/github-logo.svg');
    display: block;
    background-position: center;
    background-size: 29px;
    height: 44px;
    width: 25px;
    background-repeat: no-repeat;
}

.link-nike {
    background: url('../images/nike-logo.svg');
    display: block;
    background-position: center;
    background-size: 29px;
    height: 44px;
    width: 25px;
    background-repeat: no-repeat;
}

.link-linkedIn {
    background: url('../images/linkedIn-logo.svg');
    display: block;
    background-position: center;
    background-size: 22px;
    height: 44px;
    width: 25px;
    background-repeat: no-repeat;
}

.button-viewWork {
    border: none;
    color: white;
    padding: 16px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #181818;
    animation: animate-opacity 2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

.button-viewWork:hover {
    background-color: #404040;
    color: white;
}

.text-main{
    font-size: 52px;
    margin-bottom: 1%;
    animation: moveToLeft 2s;
}

.test-secondMain{
    margin-bottom: 1%;
    animation: moveToRight 2s;
}

.icon-male-technologist{
    width: 65px;
    animation: animate-opacity 2s;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animate-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button-goto-experience {
    outline: black;
    background-color: lightgray;
    color: black;
    border-radius: 25px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 20%;
    animation: animate-opacity;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.text-about-h1 {
    margin-left: 20%;
    margin-bottom: 25px;
    animation: animate-opacity;
    animation-duration: 1s;
}

.text-about {
    margin-left: 20%;
    font-size: 17px;
    line-height: 50px;
    margin-bottom: 20px;
    animation: animate-opacity;
    animation-duration: 1s;
}

.img-about-me {
    float: right;
    width: 320px;
    margin-right: 17%;
    margin-top: 0%;
    animation: animate-opacity;
    animation-duration: 1s;
    border: 2px solid black;
    border-radius: 50%;
}

.text-contact-header{
    font-size: 250%;
    animation: animate-opacity;
    animation-duration: 1s;
}

.text-contact-paragraph{
    line-height: 30px;
    margin-bottom: 1in;
    animation: animate-opacity;
    animation-duration: 1s;
}

.intro-container {
    margin-top: 15%;
}

.about-container {
    padding-top: 1in;
    margin-top: 15%;
}

.contact-container{
    padding-top: 1in;
    margin-top: 15%;
}

.projects-container {
    padding-top: 1in;
    margin-top: 15%;
}

.text-project-header {
    margin-left: 20%;
    margin-bottom: 25px;
    animation: animate-opacity;
    animation-duration: 1s;
}

.text-projects {
    margin-left: 20%;
    margin-right: 20%;
}

.prosthetic-contanier{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.button-back-to-projects{
    outline: black;
    background-color: lightgray;
    color: black;
    border-radius: 25px;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    animation: animate-opacity;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    text-align: center;
}

.experience-container {
    padding-top: 1in;
    margin-top: 15%;
}

.text-experience-header {
    margin-left: 20%;
    margin-bottom: 25px;
    animation: animate-opacity;
    animation-duration: 1s;
}

.text-experience-summary {
    margin-left: 20%;
    margin-bottom: 25px;
    animation: animate-opacity;
    animation-duration: 1s;
}

.text-experience {
    margin-left: 20%;
    margin-right: 20%;
}



summary {
    border: 4px solid transparent;
    outline: none;
    padding: 1rem;
    display: block;
    background: #444;
    color: white;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
}
summary:hover {
    opacity: 90%;
}
summary:focus {
    border-color: black;
}
details {
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 5px;
    background: white;
}
details summary::-webkit-details-marker {
    display: none;
}
details[open] > summary:before {
    transform: rotate(90deg);
}
summary:before {
    content: '';
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
}
.content {
    border-top: none;
    padding: 10px;
    border: 2px solid #888;
    border-top: none;
}
p {
    margin: 0;
    padding-bottom: 10px;
}
p:last-child {
    padding: 0;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
}

article {
    --img-scale: 1.00;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 25px;
    box-shadow: none;
    background: #C3C3C3;
    transform-origin: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
  
article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}
  
article h2 {
    margin: 0 0 18px 0;
    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
    font-weight: 1000;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

article h3 {
    margin: 0 0 18px 0;
    font-family: "Inter", sans-serif;
    font-size: 1.0rem;
    letter-spacing: 0.06em;
    color: var(--title-color2);
    transition: color 0.3s ease-out;
}
  
figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 12;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.6s ease-in-out;
}
  
.article-body {
    padding: 24px;
}
  
article:has(:hover, :focus) {
    --img-scale: 1.01;
    --title-color: #158A93;
    --title-color2: #11618F;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 48px 0;
    font-family: "Figtree", sans-serif;
    font-size: 1.0rem;
    line-height: 1.5rem;
    min-height: 100vh;
}
  
.experiences {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 100px;
    margin-left: 20%;
    margin-right: 20%;
}
  
@media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
}
  
@container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
}
  
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}